.imageContainer {
  position: fixed;
  bottom: -25px;
  right: 10px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  justify-content: center;
  gap: 1rem;
  .title {
    font-family: 'Press Start 2p', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(83, 212, 83);
  }
}
.hide {
  transform: translate(300px);
}
.show {
  transform: translateX(0);
}
