@import '../../styles/index.scss';

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    filter: drop-shadow(0 0 3px $green-clr);
    font-size: clamp(2rem, 4vw, 6rem);
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-img {
  @include floatingAnimation();
}
